.git
.gitignore
.env
.env.*
.docker
docker-compose.yml
docker-compose.*.yml

backend/vendor
backend/var
backend/.env
backend/.env.*
backend/public/bundles
backend/var/
backend/vendor/
backend/node_modules/

*.log
*.cache
*.sql
*.md
*.txt

.idea
.vscode 